<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
      {{>Nav}}
      <div class="cont">
            <div>
                  <h1>This is Login Page</h1>
            </div>
            <div class="inn">
                  <form action="/login" method="POST" >
                  <label for="Email">Enter Your Email  </label>
                  <input class="pp" id="Email" name="Email" placeholder="Enter Your Email"/><br><br>
                   <label for="Password">Enter Your Password  </label>
                  <input class="pp" id="Password" name="Password" placeholder="Enter Your Password"/><br><br>
                  {{err}}
                  {{error}}
                  <br>
                  <button type="submit" class="btn">Log In</button>

                  </form>
                  


            </div>
      </div>
      
</body>
</html>