<div class="cont">
        <h1>{{ Heading }} Introduction</h1>
        <p>This is {{ Name }} from Bhimtal, currently pursuing Btech in computer science from GEHU.</p>
        <p>I want to become a full-stack developer, and this is my dream. I will fulfill this dream.</p>
    </div>