

<div class="cp">
      <div class="in">
            <div class="div" ><a href="/Home">Home</a> </div>
            <div class="div"> <a href="/register">Register</a></div>
            <div class="div"><a href="/login">Login</a></div>
            <div class="div">
                  <a href="/logout">Logout</a>

            </div>
            <div class="div"> <a href="/">About us</a></div>
            <div class="div"><a href="/">Contact us</a></div>

      </div>
</div>